* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  display: flex;
  height: 92px;
  margin: 0px 120px;
  padding: 0px 16px;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-left: auto;
  margin-right: 2rem;
}

.nav-middle-links a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.nav-right-button button {
  background-color: #30B868;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  cursor: pointer;
}
