* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  display: flex;
  height: 92px;
  margin: 0px 120px;
  padding: 16px 0px;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-left: auto;
  margin-right: 2rem;
}

.nav-middle-links a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.nav-right-button button {
  background-color: #30b868;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.hero {
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  height: 674px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.early-btn {
  background-color: #ffffff;
  border: none;
  border-radius: 1000px;
  color: #30b868;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  cursor: pointer;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #4ade80;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container h1 {
  font-size: 72px;
  font-weight: 700;
  font-style: bold;
  color: #ffffff;
  margin-bottom: 16px;
}
.hero-heading {
  margin: 20px 0;
  text-align: center;
}
.greeen-text {
  color: #30b868;
}
.hero-description {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.hero-bottom-btn {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  cursor: pointer;
  margin: 0 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}
#green-btn {
  background-color: #30b868;
}
#white-btn {
  border: #d9d9da 1px solid;
}
.bottom-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-heading {
  text-align: center;
  margin: 70px 0;
}

.note-heading h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.note-cards-container {
  display: flex;
  gap: 24px;
  margin-top: 48px;
  justify-content: center;
}

.note-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  padding: 24px;
  width: 322px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
}
.image-note-card {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin-top: 50px;
  background-color: #f95555;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.note-card h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 16px 0;
}
.brain {
  display: flex;
  padding: 120px;
}

.brain-text {
  margin-left: 60px;
}

.brain-text p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}
.brain-text h4 {
  font-size: 48px;
  font-weight: 700;
  margin: 16px 0;
}
.brain-text ul {
  list-style-type: none;
  margin-top: 40px;
}
.brain-text ul li {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}
#solution {
  font-size: 18px;
  color: #30b868;
}

.early-access {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 120px 120px 120px;
}
.early-access-container {
  background-color: #f5f5f5;
  border-radius: 8px;
  text-align: center;
  width: 100%;
}
.early-access-container h3 {
  margin: 80px 0 24px 0;
  font-size: 40px;
  font-weight: 700;
}
.early-access-container p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 16px;
}

.early-access-button {
  border: none;
  background-color: #30b868;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 8px;
}

.early-access-button-container {
  display: flex;
  justify-content: center;
}

.footer {
  padding: 120px 120px;
  background-color:#001931;
  height: 348px;
}

.social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 80px;
}
.social ul, a {
  list-style: none;
  margin-top: 10px;
  display: flex;
  gap: 16px;
  color: #ffffff;
  text-decoration: none;
}

.copyright {
  border-top: 2px solid #444466;
  text-align: center;
  color: #ffffff;
  height: 60px;
  padding: 30px 0;
}

.nav-right-button:hover,
.early-btn:hover,
.hero-bottom-btn:hover,
.early-access-button:hover{
transform: translateY(-3px);
box-shadow: 0 10px 20px rgba(48, 184, 104, 0.3);
filter: brightness(1.1);
}

.nav-right-button:active,
.early-btn:active,
.hero-bottom-btn:active,
.early-access-button:active{
    transform: scale(0.95);
}